/*底部样式*/
.foot_con {text-align:center;}
.foot_menu { line-height:24px;}
.foot_menu a  {margin:0 10px;}
.copy p { line-height:24px;}


/*左侧菜单栏样式*/
.left_meun , .con_mian { border:1px solid #DFDFDF;}
.left_meun_t {height:34px; overflow:hidden; background:url(../images/left_t.gif) repeat-x; padding:15px 0 0 30px;}
.left_meun_t h2 { font-size:14px; color:#fff;}
.left_meun_m {padding:10px;}
.left_meun_m li {height:30px; line-height:30px; text-indent:25px; background:url(../images/dot-02.jpg) no-repeat 0 8px;border-bottom:1px solid #F2F2F2;}
.left_meun_b {padding:12px;}
.left_meun_b li { border-bottom:1px solid #F2F2F2;}
.left_meun_b li a { line-height:20px;  padding-bottom:10px;color:#303030; display:block; padding-left:28px; padding-top:10px; background:url(../images/dot-02.jpg) no-repeat 0 13px; font-family:"微软雅黑","黑体"; font-size:14px;}
.left_meun_b li a:hover { font-size:16px; color:#FF6600; font-weight:800; text-decoration:none;}

